{% extends "layout.html" %}
{% block body %}

  {% if data %}
    {% for d in data %}
      <p> 
          <span style="color:#088A85; font-weight:bold;">Mr.{{d["user_id"]}}</span>'s photo:
      </p>

      <image style="-webkit-user-select: none;" src = "/{{"%s" % d["photo_url"]}}5.jpg" height = "300">
      <br>
      <br>
      <span style="color:green; font-weight:bold;">Photo Name:</span> <span style="color:#FAAC58; font-style:italic;">"{{d["comment"]}}"</span>
      <br>
      <br>
      {% for i in range(1,10) %}  
        <a href="/{{"%s" % d["photo_url"]}}{{"%d" % i}}.jpg">
          {{i}}
        </a>
      {% endfor %}
    {% endfor %}
  {% else %}
    <p> No Data</p>
  {% endif %}
{% endblock %}

## <div id="img"><img onclick="change()" style="-webkit-user-select: none;" src = "/{{"%s" % d["photo_url"]}}5.jpg" height = "300"" /></div>
## <script>function change(){document.getElementById("img").innerHTML = <iframe src="to do" width="400" height="300" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"  frameborder="0"></iframe>;}</script>
